---
Checks: 'bugprone*,google*,llvm-namespace-comment,misc-definitions-in-headers,misc-redundant-expression,modernize*,performance*,-google-runtime-references'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
